  <div class='nested-fields'>
    <div class="field row">
      <div class="col-3">
      <%= f.label :username %>
        <%= f.text_field :username, required: true %>
      </div>
      <div class="col-3">
      <%= f.label :email %>
        <%= f.text_field :email, required: false %>
      </div>
        <%= f.hidden_field :vote_id, value: @vote.id %>
      <div class="col-3">
        <%= link_to_remove_association "Remove option", f %>
      </div>
    </div>
  </div>