<div class="collapse" id="create">
  <div class="card card-body">
    <% @vote = Vote.new %>
    <%= simple_form_for(@vote) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.hidden_field :finished %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>

      <h3>Options</h3>
      <div id='options'>
      <% @vote.options.build %>
      <% @vote.options.build %>
        <%= f.fields_for :options do |option| %>
          <%= render 'pages/option_fields', :f => option %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add option', f, :options %>
        </div>
      </div>

      <h3>Participants</h3>
      <div id="participants">
      <% @vote.participants.build %>
      <% @vote.participants.build %>
        <%= f.fields_for :participants do |participant| %>
          <%= render 'pages/participant_fields', :f => participant %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add participant', f, :participants %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit %>
         <%= f.fields_for :participants do |participant| %>
         <% end %>
      </div>
    <% end %>
  </div>
</div>

