<p id="notice"><%= notice %></p>
<% if @participant.voted == true%>
  <h3> You have already voted </h3>
  <p> You voted for </p>
<% else %>
  <h3> Cast your vote </h3>
  <p> Drag to rearrange the options in order of preference - highest to lowest from top to bottom </p>
  <% @ballot = Ballot.new %>
  <%= form_for "ballot[]", :url => ballots_path do |f| %>
    <div class="form-inputs">
      <div data-controller="drag">   
      <% n = 1 %>
        <% @options.each do |o|%>
          <div class="card card-body mb-4 sortable">
          <%= f.label o.name %>
          <%= f.hidden_field :position, value: n %>
          <%= f.hidden_field :option_id, value: o.id %>
          <%= f.hidden_field :participant_id, value: @participant.id %>
          <%= f.hidden_field :created_at, value: Time.now %>
          <% n += 1 %>
          </div>
        <% end %>
    </div>
      <%= f.submit "Vote now", class: 'btn btn-success'%>
      </div>
    </div>   
  <% end %>
<% end %>
