<p id="notice"><%= notice %></p>
<% if @participant.voted == true%>
  <h3> You have already voted </h3>
  <p> You voted for </p>
<% else %>
  <h3> Cast your vote </h3>
  <% @ballot = Ballot.new %>
  <%= simple_form_for(@ballot) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <% @options.each do |o|%>
    <div class="form-inputs">
      <%= f.label o.name %>
      <%= f.number_field :sequence %>
      <%= f.hidden_field :option_id, value: o.id %>
    </div>
    <%end%>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
<% end %>
