<p id="notice"><%= notice %></p>

<p>
  <strong>Participants:</strong>
  <%= @vote.participants %>
</p>

<p>
  <strong>Options:</strong>
  <%= @vote.options_id %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
