<p id="notice"><%= notice %></p>
<h3>Options</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody> 
 <% options = Option.where("vote_id = ?", @vote.id)%>
 <% options.each do |option| %>
     <tr>
       <td><%= option.name %></td>          
       <td>Placeholder for votes cast</td>
    </tr>
   <% end %>
   </tbody>
</table>
<h3>Participants</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Voted</th>
    </tr>
  </thead>
  <tbody> 
 <% options = Participant.where("vote_id = ?", @vote.id)%>
 <% options.each do |participant| %>
     <tr>
       <td><%= participant.username %></td>          
       <td>Placeholder for voted</td>
    </tr>
   <% end %>
   </tbody>
</table>
<h3> Placeholder left to vote: x </h3>
<% if current_user.id == Vote.find(@vote.id).user_id%>
  <%= form_for @vote, remote: true do |f| %>
        <%= f.hidden_field :finished, :value => true %>
        <%= f.submit "Close voting", confirm: "Are you sure?" %>
    <% end %>
<% end %>

<%
<<-COMMENT
%>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>

<%      
COMMENT
%>